.worshipSet__table {
    border: 1px solid var(--gray);
    padding: 40px;
}

.worshipSet__table th {
    color: var(--garnet-dark);
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.worshipSet__table tr {
    border: 1px solid var(--gray);
    line-height: 20px;
}

.worshipSet__table td {
    font-size: .8rem;
    padding: 10px;
    text-align: center;
    text-overflow: ellipsis;
}