.table {
    border-bottom: 1px solid var(--gray);
    padding: 40px;
    width: 100%;
    margin-bottom: 1.5rem;
}

.table thead {
    background-color: var(--garnet-dark);
}

.table th {
    color: var(--white);
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.table tr {
    border-bottom: 1px solid var(--gray);
    line-height: 20px;
}

.table td {
    font-size: .8rem;
    padding: 10px;
    text-align: center;
    text-overflow: ellipsis;
}